:root {
    --blanco: #FDF7FA;
    --rojo: #DF2935;
    --negro: #07090F;
    --gris: #E6E8E6;
    --verde: #4CAF50;
}
*{
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: var(--blanco);
    color: var(--negro);
}
.contenedor-dashboard {
    flex-direction: row;
    min-height: 90vh;
    display: flex;
    overflow: hidden;
}
.animalbeats{
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    text-decoration: none;
}
.animalbeats img{
    width: 80px;
    height: 80px;
    margin-left: 5px;
}
.animalbeats span{
    font-weight: bold;
    padding: 15px;
    font-size: 25px;
    text-transform: uppercase;
}
.btn-primary{
    border-color: var(--rojo);
    background-color: var(--rojo);
    color: var(--blanco);
}
.offcanvas-body{
    list-style: none;
}
.offcanvas-body li{
    list-style: none;
}
.offcanvas-body li a:hover{
    margin-left: -15px;
    border-radius: 15px;
    border: 1px solid var(--rojo);
}
.opcion{
    position: relative;
    color: var(--negro);
    font-size: 18px;
    display: table;
    width: 300px;
    padding: 10px;
    text-decoration: none;
}
.opcion svg{
    position: relative;
    color: var(--negro);
    text-align: center;
    margin-left: 15px;
}
.nav-logo{
    margin-top: 15px;
    color: #000;
    text-decoration: none;
}
.item-nav{
    position: absolute;
    margin-left: 25px;
    margin-top: 12px;
    color: var(--negro);
}
.salir{
    position: absolute;
    bottom: 0;
    color: var(--negro);
    font-size: 18px;
    display: table;
    width: 300px;
    padding: 10px;
    text-decoration: none;
}
.salir svg{
    position: relative;
    color: var(--negro);
    text-align: center;
    margin-left: 15px;
}
.opcion:hover, .salir:hover {
    background-color: var(--rojo);
    color: var(--blanco);
}

.opcion:hover .item-nav, .salir:hover .item-nav {
    color: var(--blanco);
}

.opcion:hover svg, .salir:hover svg {
    fill: var(--blanco);
}
.btn-primary:hover{
    background-color: var(--negro);
    border-color: var(--negro);
}

.contenido-principal{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contenido-principal h1{
    width: 100%;
    text-align: center;
    margin: 20px;
}
.contenedor-tabla{
    width: 80%;
}
.tabla-mascotas{
    width: 100%;
}
.tabla-mascotas thead{
    background-color: var(--rojo);
    border-top: 3px solid var(--negro);
    border-left: 3px solid var(--negro);
    border-right: 3px solid var(--negro);
}
.tabla-mascotas th{
    border-right: 1px solid var(--negro);
    border-bottom: 2px solid var(--negro);
    width: 10%;
    margin: 15px;
    text-align: center;
    color: var(--blanco);
}
.tabla-mascotas tbody{
    border-left: 3px solid var(--negro);
    border-right: 3px solid var(--negro);
    border-bottom: 3px solid var(--negro);
}
.tabla-mascotas td{
    border-right: 1px solid var(--negro);
    border-bottom: 1px solid var(--negro);
    height: 30px;
    margin: 20px;
    text-align: center;
}
.tabla-mascotas td a svg:hover{
    transform: scale(1.05);
}
.usuarios-boton{
    margin: 20px;
}
.usuarios-boton a{
    display: inline-block;
    width: 200px;
    height: 40px;
    text-decoration: none;
    background-color: var(--rojo);
    color: var(--blanco);
    text-align: center;
    line-height: 40px;
    border-radius: 15px;
}
.usuarios-boton a:hover{
    transform: scale(1.02);
    background-color: var(--negro);
}
