<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <?xml version="1.0" encoding="UTF-8"?>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../../static/Img/logoico.png">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/GestionReportes.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">    
    <script src="https://kit.fontawesome.com/a0994db117.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div class="menu">
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFF"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg>  MENU</button>
        </div>
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel"><a href="administrador.html" class="animalbeats">
        <img src="../../static/Img/logo-corto.png" alt="">
            <span class="nav-logo">AnimalBeats</span>
        </a></h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
        <li>
            <a href="../Administrador/GestionDeUsuarios.html" class="opcion">
                <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 0 24 24" fill="#000">
                    <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"></path>
                </svg>
            <span class="item-nav">Usuarios</span>
            </a>
        </li>
        <li>
            <a href="../Administrador/GestionMascotas.html" class="opcion">
                <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 -960 960 960" width="24px" fill="#000"><path d="M180-475q-42 0-71-29t-29-71q0-42 29-71t71-29q42 0 71 29t29 71q0 42-29 71t-71 29Zm180-160q-42 0-71-29t-29-71q0-42 29-71t71-29q42 0 71 29t29 71q0 42-29 71t-71 29Zm240 0q-42 0-71-29t-29-71q0-42 29-71t71-29q42 0 71 29t29 71q0 42-29 71t-71 29Zm180 160q-42 0-71-29t-29-71q0-42 29-71t71-29q42 0 71 29t29 71q0 42-29 71t-71 29ZM266-75q-45 0-75.5-34.5T160-191q0-52 35.5-91t70.5-77q29-31 50-67.5t50-68.5q22-26 51-43t63-17q34 0 63 16t51 42q28 32 49.5 69t50.5 69q35 38 70.5 77t35.5 91q0 47-30.5 81.5T694-75q-54 0-107-9t-107-9q-54 0-107 9t-107 9Z"/></svg>
                <span class="item-nav">Mascotas</span>
            </a>
        </li>
        <li>
            <a href="../Administrador/GestionConsultas.html" class="opcion">
                <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 -960 960 960" width="24px" fill="#000"><path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/></svg>
                <span class="item-nav">Consultas</span>
            </a>
        </li>
        <li>
            <a href="../Administrador/GestionReportes.html" class="opcion">
                <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 -960 960 960" width="24px" fill="#000"><path d="M200-120v-680h360l16 80h224v400H520l-16-80H280v280h-80Zm300-440Zm86 160h134v-240H510l-16-80H280v240h290l16 80Z"/></svg>
                <span class="item-nav">Reportes</span>
            </a>
        </li>
        <li>
            <a href="../index.html" class="salir">
                <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 0 24 24" fill="#000">
                    <path d="M10 17l5-5-5-5v10zM4 4h2v16H4V4zm16 0h-6v2h6v12h-6v2h6c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2z"></path>
                </svg>
            <span class="item-nav">Salir</span>
            </a>
        </li>
        </div>
      </div>
        <div class="contenedor-dashboard">  
            <main class="contenedor-consulta">
                <ul class="nav nav-tabs tamaño">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item custom-style" role="presentation">
                          <button class="nav-link active" id="veterinario-tab" data-bs-toggle="tab" data-bs-target="#veterinario-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Alarmas Veterinaria</button>
                        </li>
                        <li class="nav-item custom-style" role="presentation">
                          <button class="nav-link" id="cliente-tab" data-bs-toggle="tab" data-bs-target="#cliente-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Alarmas Cliente</button>
                        </li>
                      </ul>
                      <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="veterinario-pane" role="tabpanel" aria-labelledby="veterinario-tab" tabindex="0">
                          <table class="table table-striped-columns">
                            <thead>
                                <tr>
                                    <th>Cliente</th>
                                    <th>Tipo de alarma</th>
                                    <th>Activa</th>
                                    <th>Hora</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody id="tabla-alarmas">
                                <tr>
                                    <td>xxxx</td>
                                    <td>Recordatorio</td>
                                    <td><input type="checkbox" checked="" onchange="cambiarEstado(0)"></td>
                                    <td>08:00 AM</td>
                                    <td>
                                        <button class="btn btn-sm btn-warning" onclick="modificarAlarma(0)">Modificar</button>
                                        <button class="btn btn-sm btn-danger" onclick="eliminarAlarma(0)">Eliminar</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>xxxx</td>
                                    <td>Pago Pendiente</td>
                                    <td><input type="checkbox" checked="" onchange="cambiarEstado(0)"></td>
                                    <td>10:30 AM</td>
                                    <td>
                                        <button class="btn btn-sm btn-warning" onclick="modificarAlarma(0)">Modificar</button>
                                        <button class="btn btn-sm btn-danger" onclick="eliminarAlarma(0)">Eliminar</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>xxxx</td>
                                    <td>Medicamentos</td>
                                    <td><input type="checkbox" checked="" onchange="cambiarEstado(0)"></td>
                                    <td>02:00 PM</td>
                                    <td>
                                        <button class="btn btn-sm btn-warning" onclick="modificarAlarma(0)">Modificar</button>
                                        <button class="btn btn-sm btn-danger" onclick="eliminarAlarma(0)">Eliminar</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>xxxx</td>
                                    <td>Cuidados</td>
                                    <td><input type="checkbox" checked="" onchange="cambiarEstado(0)"></td>
                                    <td>06:00 PM</td>
                                    <td>
                                        <button class="btn btn-sm btn-warning" onclick="modificarAlarma(0)">Modificar</button>
                                        <button class="btn btn-sm btn-danger" onclick="eliminarAlarma(0)">Eliminar</button>
                                    </td>
                                </tr>
                            </tbody>
                            </table>
                            </div>
                        <div class="tab-pane fade" id="cliente-pane" role="tabpanel" aria-labelledby="cliente-tab" tabindex="0">
                          <table class="table table-striped-columns">
                            <thead>
                                <tr>
                                    <th>Cliente</th>
                                    <th>Tipo de alarma</th>
                                    <th>Activa</th>
                                    <th>Hora</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody id="tabla-alarmas">
                                <tr>
                                    <td>xxxx</td>
                                    <td>Recordatorio</td>
                                    <td><input type="checkbox" checked="" onchange="cambiarEstado(0)"></td>
                                    <td>08:00 AM</td>
                                    <td>
                                        <button class="btn btn-sm btn-warning" onclick="modificarAlarma(0)">Modificar</button>
                                        <button class="btn btn-sm btn-danger" onclick="eliminarAlarma(0)">Eliminar</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>xxxx</td>
                                    <td>Pago Pendiente</td>
                                    <td><input type="checkbox" checked="" onchange="cambiarEstado(0)"></td>
                                    <td>10:30 AM</td>
                                    <td>
                                        <button class="btn btn-sm btn-warning" onclick="modificarAlarma(0)">Modificar</button>
                                        <button class="btn btn-sm btn-danger" onclick="eliminarAlarma(0)">Eliminar</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>xxxx</td>
                                    <td>Medicamentos</td>
                                    <td><input type="checkbox" checked="" onchange="cambiarEstado(0)"></td>
                                    <td>02:00 PM</td>
                                    <td>
                                        <button class="btn btn-sm btn-warning" onclick="modificarAlarma(0)">Modificar</button>
                                        <button class="btn btn-sm btn-danger" onclick="eliminarAlarma(0)">Eliminar</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>xxxx</td>
                                    <td>Cuidados</td>
                                    <td><input type="checkbox" checked="" onchange="cambiarEstado(0)"></td>
                                    <td>06:00 PM</td>
                                    <td>
                                        <button class="btn btn-sm btn-warning" onclick="modificarAlarma(0)">Modificar</button>
                                        <button class="btn btn-sm btn-danger" onclick="eliminarAlarma(0)">Eliminar</button>
                                    </td>
                                </tr>
                            </tbody>
                            </table>
                            </div>
                        </div>
                    <div class="recuadro-inferior">
                        <div class="acciones-botones">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#crear-alarma">Crear alarma</button>
                        </div>
                    </div>
                    <div class="modal fade" id="crear-alarma" tabindex="-1">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">Crear alarma</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <div class="mb-3">
                              <label for="alarmas" class="form-label">Tipo de alarma</label>
                              <select name="tipos" id="servicios">
                                  <option value="veterinario">Veterinario</option>
                                  <option value="cliente">Cliente</option>
                                </select>
                            </div>
                            <div class="mb-3">
                              <label for="alarmas" class="form-label">Nombre del cliente</label>
                              <input type="text" class="form-control" id="nombre" placeholder="Nombre del cliente" required>
                            </div>
                            <div class="mb-3">
                              <label for="alarmas" class="form-label">Fecha</label>
                              <input type="date" class="form-control" id="fecha" required>
                            </div>
                            <div class="mb-3">
                              <label for="alarmas" class="form-label">Hora</label>
                              <input type="time" class="form-control" id="hora" required>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Programar alarma</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Modal Editar Alarma -->
                    <div class="modal fade" id="modalEditarAlarma" tabindex="-1" aria-labelledby="modalEditarAlarmaLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header bg-warning text-white">
                            <h5 class="modal-title" id="modalEditarAlarmaLabel">Editar Alarma</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                          </div>
                          <div class="modal-body">
                            <form id="formEditarAlarma">
                              <div class="mb-3">
                                <label for="nombreMascota" class="form-label">Nombre Mascota</label>
                                <input type="text" class="form-control" id="nombreMascota" required>
                              </div>
                              <div class="mb-3">
                                <label for="motivo" class="form-label">Motivo</label>
                                <input type="text" class="form-control" id="motivo" required>
                              </div>
                              <div class="mb-3">
                                <label for="fecha" class="form-label">Fecha</label>
                                <input type="date" class="form-control" id="fecha" required>
                              </div>
                              <div class="mb-3">
                                <label for="hora" class="form-label">Hora</label>
                                <input type="time" class="form-control" id="hora" required>
                              </div>
                              <button type="submit" class="btn btn-warning w-100">Guardar Cambios</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
            </main>
    </div>
    <script src="../../static/js/alarmas.js"></script>
    <script src="../../static/js/bootstrap.bundle.min.js"></script>
</body>
</html>