<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <?xml version="1.0" encoding="UTF-8"?>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../img/logoico.png">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/GestionReportes.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a0994db117.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body class="container mt-4">
    <h2>Modificar Alerta</h2>
    
    <form action="{{ url_for('reportes.modificar_alerta', id=alerta.id) }}" method="POST">
      <div class="mb-3">
        <label for="cliente" class="form-label">Documento del Cliente</label>
        <select name="cliente" class="form-select" required>
          {% for cliente in clientes %}
            <option value="{{ cliente.n_documento }}" {% if cliente.n_documento == alerta.id_cliente %}selected{% endif %}>
              {{ cliente.n_documento }}
            </option>
          {% endfor %}
        </select>
      </div>
  
      <div class="mb-3">
        <label for="mascota" class="form-label">Mascota</label>
        <select name="mascota" class="form-select" required>
          {% for mascota in mascotas %}
            <option value="{{ mascota.id }}" {% if mascota.id == alerta.id_Mascota %}selected{% endif %}>
              {{ mascota.Nombre }} (ID: {{ mascota.id }})
            </option>
          {% endfor %}
        </select>
      </div>
  
      <div class="mb-3">
        <label for="fecha" class="form-label">Fecha</label>
        <input type="date" name="fecha" class="form-control" value="{{ alerta.Fecha }}" required>
    </div>
  
      <div class="mb-3">
        <label for="descripcion" class="form-label">Descripción</label>
        <input type="text" name="descripcion" class="form-control" value="{{ alerta.descripcion }}" required>
      </div>
  
      <button type="submit" class="btn btn-primary">Guardar Cambios</button>
      <a href="{{ url_for('reportes.gestion_reportes') }}" class="btn btn-secondary">Cancelar</a>
    </form>
  </body>

</html>